:root {
  --button-width: 140px;
  --button-height: 50px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.button {
  width: var(--button-width);
  height: var(--button-height);
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

h1 {
  font-family: "Baloo 2", sans-serif;
  font-size: 48px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 20px;
  max-width: 800px;
  width: 100%;
}
