.cascade-button {
  position: relative;
  background: #ffff00;
  color: black;
  border: none;
  overflow: hidden;
  transition: background 2s ease;
}

.cascade-button:hover {
  background: rgb(255, 166, 0);
}

.cascade-button > span {
  position: relative;
  z-index: 10;
}

.cascade-bottom,
.cascade-bottom-second,
.cascade-bottom-third,
.cascade-top,
.cascade-top-second,
.cascade-top-third,
.cascade-right,
.cascade-right-second,
.cascade-right-third,
.cascade-right-fourth,
.cascade-left,
.cascade-left-second,
.cascade-left-third,
.cascade-left-fourth {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
}

.cascade-bottom,
.cascade-bottom-second,
.cascade-bottom-third,
.cascade-top,
.cascade-top-second,
.cascade-top-third {
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.cascade-right,
.cascade-right-second,
.cascade-right-third,
.cascade-right-fourth,
.cascade-left,
.cascade-left-second,
.cascade-left-third,
.cascade-left-fourth {
  top: 50%;
  transform: translateY(-50%);
}

.cascade-right,
.cascade-right-second,
.cascade-right-third,
.cascade-right-fourth {
  background: conic-gradient(
    from 0deg,
    rgb(255, 166, 0) 0deg 180deg,
    transparent 180deg 360deg
  );
}

.cascade-left,
.cascade-left-second,
.cascade-left-third,
.cascade-left-fourth {
  background: conic-gradient(
    from 0deg,
    transparent 0deg 180deg,
    rgb(255, 166, 0) 180deg 360deg
  );
}

.cascade-bottom,
.cascade-bottom-second,
.cascade-bottom-third {
  background: conic-gradient(
    from -90deg,
    rgb(255, 166, 0) 0deg 180deg,
    transparent 180deg 360deg
  );
}

.cascade-top,
.cascade-top-second,
.cascade-top-third {
  background: conic-gradient(
    from -90deg,
    transparent 0deg 180deg,
    rgb(255, 166, 0) 180deg 360deg
  );
}

.cascade-bottom,
.cascade-top,
.cascade-right,
.cascade-left {
  width: 25px;
  height: 25px;
  z-index: 5;
}

.cascade-bottom-second,
.cascade-top-second,
.cascade-right-second,
.cascade-left-second {
  width: 50px;
  height: 50px;
  z-index: 4;
}

.cascade-bottom-third,
.cascade-top-third,
.cascade-right-third,
.cascade-left-third {
  width: 75px;
  height: 75px;
  z-index: 3;
}

.cascade-right-fourth,
.cascade-left-fourth {
  width: 100px;
  height: 100px;
  z-index: 2;
}

.cascade-bottom {
  top: calc(100% - 12.5px);
}

.cascade-bottom-second {
  top: calc(100% - 24px);
}

.cascade-bottom-third {
  top: calc(100% - 37.5px);
}

.cascade-top {
  bottom: calc(100% - 12.5px);
}

.cascade-top-second {
  bottom: calc(100% - 25px);
}

.cascade-top-third {
  bottom: calc(100% - 37px);
}

.cascade-right {
  left: calc(100% - 12.5px);
}

.cascade-right-second {
  left: calc(100% - 25px);
}

.cascade-right-third {
  left: calc(100% - 37.5px);
}

.cascade-right-fourth {
  left: calc(100% - 45px);
}

.cascade-left {
  right: calc(100% - 12.5px);
}

.cascade-left-second {
  right: calc(100% - 25px);
}

.cascade-left-third {
  right: calc(100% - 37px);
}

.cascade-left-fourth {
  right: calc(100% - 45px);
}

.cascade-button:hover .cascade-bottom,
.cascade-button:hover .cascade-top {
  animation: rotateRightX 0.2s forwards;
  opacity: 1;
  transition: opacity 1.4s ease;
}

.cascade-button:hover .cascade-bottom-second,
.cascade-button:hover .cascade-top-second {
  animation: rotateLeftX 0.2s forwards;
  animation-delay: 0.2s;
  opacity: 1;
  transition: opacity 1.4s ease 0.2s;
}

.cascade-button:hover .cascade-bottom-third,
.cascade-button:hover .cascade-top-third {
  animation: rotateRightX 0.2s forwards;
  animation-delay: 0.4s;
  opacity: 1;
  transition: opacity 1.4s ease 0.4s;
}

.cascade-button:hover .cascade-right,
.cascade-button:hover .cascade-left {
  animation: rotateLeftY 0.2s forwards;
  opacity: 1;
  transition: opacity 1.4s ease;
}

.cascade-button:hover .cascade-right-second,
.cascade-button:hover .cascade-left-second {
  animation: rotateRightY 0.2s forwards;
  animation-delay: 0.2s;
  opacity: 1;
  transition: opacity 1.4s ease 0.2s;
}

.cascade-button:hover .cascade-right-third,
.cascade-button:hover .cascade-left-third {
  animation: rotateLeftY 0.2s forwards;
  animation-delay: 0.4s;
  opacity: 1;
  transition: opacity 1.4s ease 0.4s;
}

.cascade-button:hover .cascade-right-fourth,
.cascade-button:hover .cascade-left-fourth {
  animation: rotateRightY 0.2s forwards;
  animation-delay: 0.6s;
  opacity: 1;
  transition: opacity 1.4s ease 0.6s;
}

@keyframes rotateRightX {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotateLeftX {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(-360deg);
  }
}

@keyframes rotateRightY {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(180deg);
  }
}

@keyframes rotateLeftY {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(-180deg);
  }
}
