.fusion-button {
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle, #fff49f 40%, #ffe600);
  z-index: 0;
}

.fusion-button::before {
  content: "Fusion";
  position: absolute;
  color: white;
  inset: 0;
  background: #b88b00;
  transition: opacity 0.3s ease 0.3s;
  opacity: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fusion-button:hover::before {
  opacity: 0;
}

.fusion-button .left-circle,
.fusion-button .right-circle,
.fusion-button .top-circle,
.fusion-button .bottom-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 234, 0, 0.7), transparent);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  transition: all 0.6s ease;
}

.left-circle,
.right-circle {
  top: 50%;
  transform: translateY(-50%);
}

.top-circle,
.bottom-circle {
  left: 50%;
  transform: translateX(-50%);
}

.left-circle {
  left: calc(-1 * var(--button-height) / 2);
}

.right-circle {
  right: calc(-1 * var(--button-height) / 2);
}

.top-circle {
  top: calc(-1 * var(--button-width) / 2);
}

.bottom-circle {
  bottom: calc(-1 * var(--button-width) / 2);
}

.fusion-button:hover .left-circle {
  animation: circle-fusion 0.6s ease forwards;
  transform: translate(calc(var(--button-width) / 2), -50%);
}

.fusion-button:hover .right-circle {
  animation: circle-fusion 0.6s ease forwards;
  transform: translate(calc(-1 * var(--button-width) / 2), -50%);
}

.fusion-button:hover .top-circle {
  animation: circle-fusion 0.6s ease forwards;
  transform: translate(-50%, calc(var(--button-width) / 2));
}

.fusion-button:hover .bottom-circle {
  animation: circle-fusion 0.6s ease forwards;
  transform: translate(-50%, calc(-1 * var(--button-width) / 2));
}

@keyframes circle-fusion {
  50% {
    opacity: 1;
  }
}
