.trail-button {
  background: #000;
  color: white;
  overflow: hidden;
  position: relative;
}

.trail-button::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(white, transparent, transparent);
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 0.3s, top 0s, left 0s;
}

.trail-button:hover::before {
  opacity: 0.8;
}

.trail {
  position: absolute;
  border-radius: 50%;
  background: white;
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0.8;
  filter: blur(10px);
}
