.pixels-button {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border: 2px solid #ccc;
  z-index: 1;
}
