.distortion-button {
  position: relative;
  overflow: hidden;
  color: #4d0df0;
  z-index: 1;
  background: #ffe0e0;
}

.distortion-button .button-text {
  position: relative;
  color: black;
  z-index: 3;
}

.column {
  position: absolute;
  top: 0;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(77, 13, 240, 0.1),
      rgba(255, 255, 255, 0.8),
      rgba(77, 13, 240, 0.1)
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0)
    );
  transition: opacity 0.3s ease;
  z-index: 2;
}

.distortion-button::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(#5f5f5f, transparent, transparent);
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 0.3s, top 0s, left 0s;
  z-index: 1;
}

.distortion-button:hover::before {
  opacity: 1;
}
