.converge-button {
  color: #ff0;
  border: 2px solid #ff0;
  background: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.circular-span {
  position: absolute;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff0;
  opacity: 0;
  filter: blur(5px);
  z-index: -1;
  pointer-events: none;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.circular-span[data-span-id="1"] {
  left: 0;
  transform-origin: calc(var(--button-width) / 2) 10px;
  transform: rotate(-90deg);
}

.circular-span[data-span-id="2"] {
  right: 25%;
  transform-origin: calc(20px - var(--button-width) / 4) 10px;
  transform: rotate(90deg);
}

.circular-span[data-span-id="3"] {
  left: 25%;
  transform-origin: calc(var(--button-width) / 4) 10px;
  transform: rotate(90deg);
}

.circular-span[data-span-id="4"] {
  right: 0;
  transform-origin: calc(20px - var(--button-width) / 2) 10px;
  transform: rotate(-90deg);
}

.converge-button:hover .circular-span {
  transform: rotate(0deg);
  opacity: 1;
}

.converge-button:hover {
  animation: invert 1s forwards;
}

@keyframes invert {
  0% {
    background: black;
    border: 2px solid #ff0;
    color: #ff0;
  }
  100% {
    background: #ff0;
    border: 2px solid black;
    color: black;
  }
}
