@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-button {
  position: relative;
  background: rgb(255, 255, 169);
  transition: all 0.3s;
}

.border-button:hover {
  background: rgb(146, 255, 136);
}

.border-button::before,
.border-button::after {
  background: conic-gradient(
    from var(--gradient-angle),
    greenyellow,
    #084908,
    greenyellow,
    #084908,
    greenyellow
  );
  content: "";
  position: absolute;
  inset: -0.2rem;
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  transition: all 0.6s ease;
  animation: rotation 2s linear infinite;
}

.border-button:hover::before,
.border-button:hover::after {
  opacity: 1;
}

.border-button::after {
  filter: blur(0.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
