.weld-button {
  position: relative;
  background: #414141;
  border: 2px solid #9ca3af;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --weld-columns: 3;
  --weld-gap-ratio: 0.3;
  --weld-halo-padding: 5;
}

.button-text {
  position: relative;
  z-index: 2;
  color: #fff;
  transition: color 0.3s 0.3s;
}

.weld-button:hover .button-text {
  color: black;
}

.arrow-up,
.arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  border-left: calc(var(--weld-arrow-border, 20px) + 1px) solid transparent;
  border-right: calc(var(--weld-arrow-border, 20px) + 1px) solid transparent;
  pointer-events: none;
  z-index: 0;
  transition: 0.3s;
}

.arrow-up {
  border-bottom: var(--button-height) solid #d9d9d9;
  bottom: -65%;
  transform: translateY(50%);
}

.arrow-down {
  border-top: var(--button-height) solid #d9d9d9;
  top: -65%;
  transform: translateY(-50%);
}

.arrow-up.hover {
  bottom: calc(50% + max(1px, var(--weld-arrow-border) * 0.02));
}

.arrow-down.hover {
  top: calc(50% + max(1px, var(--weld-arrow-border) * 0.02));
}

.arrow-up::before,
.arrow-down::before {
  content: "";
  position: absolute;
  border-left: var(--weld-halo-border, 25px) solid transparent;
  border-right: var(--weld-halo-border, 25px) solid transparent;
  transition: all 0.3s ease;
}

.arrow-up::before {
  left: calc(-1 * var(--weld-halo-border, 25px));
  top: -5px;
  border-bottom: calc(var(--button-height) + 10px) solid
    rgba(235, 235, 235, 0.5);
}

.arrow-down::before {
  left: calc(-1 * var(--weld-halo-border, 25px));
  bottom: -5px;
  border-top: calc(var(--button-height) + 10px) solid rgba(235, 235, 235, 0.5);
}

.weld-button:hover .arrow-up::before,
.weld-button:hover .arrow-down::before {
  animation: weld 0.6s linear 0.3s forwards;
}

@keyframes weld {
  0% {
    border-bottom-color: rgba(235, 235, 235, 0.5);
    border-top-color: rgba(235, 235, 235, 0.5);
  }
  50% {
    border-bottom-color: rgba(255, 94, 0, 0.75);
    border-top-color: rgba(255, 94, 0, 0.75);
  }
  100% {
    border-bottom-color: rgba(235, 235, 235, 1);
    border-top-color: rgba(235, 235, 235, 1);
  }
}
