.water-button {
  position: relative;
  color: #000;
  background: rgb(208, 238, 255);
  overflow: hidden;
}

.water-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: rgba(54, 54, 255, 0.5);
  transition: height 0.9s;
}

.water-button:hover::after {
  height: 100%;
}

.water-button:not(:hover)::after {
  transition: height 0.3s;
}

.droplet {
  position: absolute;
  background-color: rgba(54, 54, 255, 0.5);
  transition: opacity 0.5s ease;
  transform: rotate(45deg);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  pointer-events: none;
}
